/* Universal */
* {
  letter-spacing: 0.0175rem;
}
.glass {
  background: rgba(255,255,255,0.05);
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  border: 1px solid rgba(255,255,255,0.1);
  opacity: .9;
}

.glass-text {
  opacity: 1;
  letter-spacing: 0.0175rem;
  color: rgba(255, 255, 255, 0.9);
}

/* Colors */
.beerflow-gradient-text {
  background-image: linear-gradient(90deg, rgb(8, 145, 178), rgb(19, 191, 165));
  color: transparent;
  -webkit-background-clip: text;
}

.blue-gradient-text {
  background-image: linear-gradient(90deg, rgb(2, 132, 199), rgb(125, 211, 252));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

/* Utility */
/* Landing */
.landing-main {
  height: 100vh;
  width: 100%;
}
/* Landing Nav */
.landing-nav-background {
  background-image: linear-gradient(90deg, rgb(8, 145, 178), rgb(19, 191, 165));
  color: white;
}
/* Beta Registration Form */
.beta-registration-div {
  display: flex;
  flex-direction: column;
}

.beta-form-row {
  display: flex;
  flex-direction: row;
}
@tailwind base;
@tailwind components;
@tailwind utilities;